[user]
    name = Martin Krizek
    email = martin.krizek@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[alias]
    co = checkout
    br = branch -v
    ci = commit
    st = status
    lg = log --decorate=full
[color "diff"]
    whitespace = red reverse
[push]
    default = simple
